안녕하세요. 수강생 여러분~! Chapter14 ~ 16 수업은 잘 들으셨나요?

Chapter14 ~ 16의 수업 내용을 바탕으로 아래 문제를 풀어주시면 됩니다.

<br>


[**답변 입력 방법**]

문제 아래에 있는 코드 입력창에 정답코드를 작성하신 후  __▷ 버튼을 클릭해 코드를 실행__ 해보세요<br>

---

__[문제1]__

주어진 정수 x와 자연수 n을 이용해, x부터 시작해 x씩 증가하는 숫자를 n개 지니는 리스트를 출력해주세요   
<br>

x = 2, n =5

In [3]:
#결과값은 [2, 4, 6, 8, 10]이 나와야함.
x = 2
n = 5
리스트 = [] #일단 빈 바구니 만들어두기

for i in range(1, n+1): #1부터 5까지 반복해야하니까 1, n+1해주기
    리스트.append(x * i) #x=2부터 1~5까지 곱한대로 리스트에 추가하기

print(f'리스트 : {리스트}')

리스트 : [2, 4, 6, 8, 10]

---

__[문제2]__

전화번호가 문자열 phone_number로 주어졌을 때, 전화번호의 뒷 4자리를 *으로 가린 문자열이 출력되도록 코드를 작성해주세요

phone_number = "01012347890"  
<br>

출력 예) "0101234****"

In [11]:
phone_number = "01012347890"  
phone_list = list(phone_number) #폰넘버 리스트 만들기

for i in range(7, 11): #뒷 4자리 반복
    phone_list[i] = "*"

phone_print = "".join(phone_list) #리스트 다시 문자열로 합쳐주기

print(f'전화번호 : {phone_print}')

#뭔가 비효율적인 느낌이지만 다른 방법이 생각이 안난다..

전화번호 : 0101234****

---

__[문제3]__

숫자를 건넬 때 일부 자릿수를 영단어로 바꾼 카드를 건네주면 프로도는 원래 숫자를 찾는 게임입니다.

다음은 숫자의 일부 자릿수를 영단어로 바꾸는 예시입니다.

1478 → "one4seveneight"  
234567 → "23four5six7"  
10203 → "1zerotwozero3"    

이렇게 숫자의 일부 자릿수가 영단어로 바뀌어졌거나,   
혹은 바뀌지 않고 그대로인 문자열 s가 주어졌을때
s가 의미하는 원래 숫자를 출력하도록 코드를 작성해주세요

s = "77three4one

---
참고로 각 숫자에 대응되는 영단어는 다음 표와 같습니다.

숫자	영단어  
0	zero  
1	one  
2	two  
3	three  
4	four  
5	five  
6	six  
7	seven  
8	eight  
9	nine

In [13]:
s = "77three4one"

#딕셔너리로 단어표 만들기
숫자대응_영단어표 = {
    "zero" : "0",  
    "one" : "1",  
    "two" : "2",  
    "three" : "3",  
    "four" : "4",  
    "five" : "5",  
    "six" : "6", 
    "seven" : "7",  
    "eight" : "8",  
    "nine" : "9",  
}

#이 뒤로 모르겠음.. #키들만 뽑아서 word에 담아주기
for word in 숫자대응_영단어표.keys():
    s = s.replace(word, 숫자대응_영단어표[word]) #replace(s에 있는 word 키들을 단어표 값들로 바꿔주기)

print(f'원래 숫자는 : "{s}" 입니다')

원래 숫자는 : "77341" 입니다

---

__[문제4]__

행렬의 덧셈은 행과 열의 크기가 같은 두 행렬의 같은 행, 같은 열의 값을 서로 더한 결과가 됩니다. 

 행렬 arr1과 arr2가 주어졌을 때, 행렬 덧셈의 결과를 출력하는 코드를 작성해주세요(result와 같은 결과가 출력되도록 작성)

arr1 = [[1,2],[2,3]]

arr2 = [[3,4],[5,6]]

result = [[4,6],[7,9]]

In [ ]:
뭐부터 접근해야할지 감이 안잡혀요ㅠ

---

__[문제5]__

양의 정수 x가 하샤드 수이려면 x의 자릿수의 합으로 x가 나누어져야 합니다.   
예를 들어 18의 자릿수 합은 1+8=9이고, 18은 9로 나누어 떨어지므로 18은 하샤드 수입니다.   
주어진 x를 이용해 x가 하샤드 수인지 아닌지 검사하는 코드를 작성해주세요

x = 17

----

입출력 예시
x	결과값  
10	true  
12	true  
11	false  
13	false

In [16]:
x = 17
하샤드수 = list(str(x)) #자릿수 나눠야 하니까 문자열로 바꾸기
자릿수_합 = int(하샤드수[0]) + int(하샤드수[1]) #계산해야하니까 다시 숫자로 바꿔서 자릿수 합 만들기
if x % 자릿수_합 == 0 : #x / 자릿수합 나머지가 0인지 확인하기
    print(True)
else :
    print(False)

False

---

__[문제6]__

String형 배열 seoul의 element중 "Kim"의 인덱스 x를 찾아, "김서방은 x에 있다"는 String을 출력하는 코드를 작성해주세요.   

seoul에 "Kim"은 오직 한 번만 나타나며 잘못된 값이 입력되는 경우는 없습니다.

seoul = ["Jane", "Kim"]

<br>
출력 예) "김서방은 1에 있다"

In [22]:
seoul = ["Jane", "Kim"]
x = seoul.index("Kim")
print(f'김서방은 {x}에 있다')

김서방은 1에 있다

---

__[문제7]__

0부터 9까지의 숫자 중 일부가 들어있는 정수 배열 numbers가 주어집니다.   
numbers에서 찾을 수 없는 0부터 9까지의 숫자를 모두 찾아 더한 수를 출력해주세요

numbers = [5,8,1,0,6,9]

In [23]:
numbers = [5, 8, 1, 0, 6, 9]
non_exist_sum = 0 #없는 숫자들 더해나갈 공간

for i in range(10):
    if i not in numbers:
        non_exist_sum = non_exist_sum + i

print(non_exist_sum)

16